.search{
    background-color: rgb(248, 245, 245);
    height: 35px;
    width: 85%;
    margin-left: 100px;
    border-color:rgb(248, 245, 245) ;
    border-radius: 9px;
    border-top: rgb(248, 245, 245);
    border-left: rgb(248, 245, 245);
    
    
}
.div1{
    
    
   height:  35px;
   width: 100%;
  border-radius: 10px;
  display: flex;
    
}
.img{
    height: 250px;
    width: 200px;
    border: 12px;
    border-radius: 12px;
    display: inline-block;
    gap: 12px;
    box-shadow: 2px 2px 5px rgb(135, 133, 133);
   
}
.search:focus-within{
    border-color: rgb(154, 150, 150);
    
}
.divimg{
    margin-top: 30px;
    display: inline-block;
    grid-row: 4;
    grid-column: 4;
    ;
}